<div class="cards">
    <div class="card" *ngFor="let book of books">
        <div class="card-header">
            <img [src]="book.img || 'assets/default-book.jpg'" alt="img-book">
        </div>
        <div class="card-body">
            <div class="group">
                <div class="stars">
                    <li *ngFor="let star of getStarsArray(book.star)">
                        <i class="pi pi-star-fill"></i>
                    </li>
                </div>
                <h2>{{book.title}}</h2>
                <h3>{{book.author}}</h3>
            </div>
            <div class="group">
                <button routerLink="/menu/content/{{book.id}}">Read</button>
            </div>
        </div>
    </div>
</div>