.container {
    padding: 0px 20px;
}

/* Estilos para el contenedor del menú */
.menu-container {
    position: relative;
}

/* Estilos para el botón del menú burger */
.burger-menu {
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

/* Mostrar el menú cuando se hace clic en el botón */
.menu-right.show {
    display: block;
}

.menu-right {
    display: none;
    background-color: white;
    position: fixed;
    color: #334155;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 5;
    padding-right: 15px;
    box-shadow: 1px 4px 8px rgb(124, 117, 117);
}

.menu-right .close-menu {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: end;
}


.menu-right .close-menu .btn-close-menu {
    background: none;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s;
    height: 40px;
    width: 40px;
}

.menu-right .close-menu .btn-close-menu:hover {
    color: white;
    background: #334155;
    border-radius: 50%;

}

.menu-right .menu {
    padding-left: 25px;
    list-style: none;
}

.menu-right .menu .menu-item {
    /* border: 1px solid red; */
}

.menu-right .menu .menu-item p {
    font-weight: bold;
}

.menu-right .menu .menu-item .sub-menu {
    padding-left: 20px;
    list-style: none;
}

.menu-right .menu .menu-item .sub-menu li {
    padding: 10px;
    margin-bottom: 4px;
    cursor: pointer;
}

.menu-right ul li i {
    padding-right: 5px;
}

.menu-right .menu li .sub-menu li {
    transition: 0.2s;
}

.menu-right .menu li .sub-menu li:hover {
    background-color: #F1F5F9;
    border-radius: 5px;
}

@media only screen and (min-width: 1200px) {

    /* Estilos para pantallas de escritorio */
    .container {
        width: 90%;
        margin: 0 auto;
    }

}