<div class="container">
    <div class="content">
        <div class="group first">
            <img class="img-book" src="assets/img-book/img-habits-atomic.png" alt="">
        </div>
        <div class="group second">
            <h2>Content</h2>
            <ul>
                <li>Introduction</li>
                <li>The surprising power of atomic habits</li>
                <li>How your habits shape your identity</li>
                <li>How to build better habits in 4 simple steps</li>
                <li>The man who didn’t look right</li>
                <li>The best way to start a new habit</li>
                <li>Motivation is overratedd; Environment often matters more</li>
                <li>The secret to self-control</li>
                <li>How to make a habit irresistible</li>
                <li>The role of family and friends is shapping your habits</li>
                <li>How to find and fix the causes of your bad habits</li>
                <li>Walk slowly, but never backward</li>
                <li>The law of least effort</li>
                <li>How to stop procratinating by using the two-minute rule</li>
                <li>How to make good habits inevitable and bad habits impossible</li>
            </ul>
        </div>
    </div>
</div>
