<div class="container">
    <div class="group first"></div>
    <div class="group second">
        <div class="content-text">
            <div class="group-icon">
                <div class="group">
                    <div class="icon-left" (click)="previousGroup()">
                        <i class="bi bi-chevron-left"></i>
                    </div>
                </div>
                <div class="group">
                    <div class="icon-right" (click)="nextGroup()">
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="space"></div>
            <div *ngFor="let content of book?.contents; let i = index" [id]="'group-' + content.position" class="content-group" [style.display]="i === activeContentIndex ? 'block' : 'none'">
                <h2>{{ content.chapterName }}</h2>
                <div class="text-container">
                    <div *ngFor="let chapter of content?.chapters">
                        <div class="rich-content" [innerHTML]="chapter.description"></div>
                    </div>
                </div>
            </div>
            
            <div id="tooltip" class="tooltip">
                <div class="group first">
                    <span>INGLÉS</span>
                    <div class="group-children">
                        <h3 id="original-word"></h3><i class="bi bi-volume-up-fill"></i>
                    </div>
                </div>
                <div class="group second">
                    <span>ESPAÑOL</span>
                    <p id="translated-word"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="group third">
        <div class="content-details">
            <div class="img-container">
                <img [src]="imageBook.routeFile || 'assets/default-book.jpg'"  alt="">
            </div>
            <h3>{{book?.title}}</h3>
            <ul>
                <li *ngFor="let content of book?.contents; let i = index" 
                    [ngClass]="{'active-content': i === 0}" 
                    (click)="toggleContent($event, 'group-' + content.position)">
                    {{ content.chapterName }}
                </li>
            </ul>
        </div>
    </div>
</div>