<div class="container">
    <div class="group first"></div>
    <div class="group second">
        <div class="content-text">
            <div class="group-icon">
                <div class="group">
                    <div class="icon-left" (click)="previousGroup()">
                        <i class="bi bi-chevron-left"></i>
                    </div>
                </div>
                <div class="group">
                    <div class="icon-right" (click)="nextGroup()">
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="space"></div>
            <div *ngFor="let content of book?.contents; let i = index" [id]="'group-' + content.position" class="content-group" [style.display]="i === activeContentIndex ? 'block' : 'none'">
                <h2>{{ content.chapterName }}</h2>
                <div class="text-container">
                    <div *ngFor="let chapter of content?.chapters">
                        <ng-container [ngSwitch]="chapter.type">
                            <h1 *ngSwitchCase="'h1'">{{ chapter.description }}</h1>
                            <h2 *ngSwitchCase="'h2'">{{ chapter.description }}</h2>
                            <h3 *ngSwitchCase="'h3'">{{ chapter.description }}</h3>
                            <h4 *ngSwitchCase="'h4'">{{ chapter.description }}</h4>
                            <h5 *ngSwitchCase="'h5'">{{ chapter.description }}</h5>
                            <h6 *ngSwitchCase="'h6'">{{ chapter.description }}</h6>
                            <p *ngSwitchDefault>{{ chapter.description }}</p>
                        </ng-container>
                        <ng-template #paragraph>
                            <p>{{ chapter.description }}</p>
                        </ng-template>
                    </div>
                </div>
            </div>
            
            <div id="tooltip" class="tooltip">
                <div class="group first">
                    <span>INGLÉS</span>
                    <div class="group-children">
                        <h3 id="original-word"></h3><i class="bi bi-volume-up-fill"></i>
                    </div>
                </div>
                <div class="group second">
                    <span>ESPAÑOL</span>
                    <p id="translated-word"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="group third">
        <div class="content-details">
            <div class="img-container">
                <img src="assets/img-book/img-habits-atomic.png" alt="">
            </div>
            <h3>Atomic Habits</h3>
            <ul>
                <li *ngFor="let content of book?.contents; let i = index" 
                    [ngClass]="{'active-content': i === 0}" 
                    (click)="toggleContent($event, 'group-' + content.position)">
                    {{ content.chapterName }}
                </li>
            </ul>
            <!-- <ul>
                <li class="active-content" (click)="toggleContent($event, 'group-first')">Introduction</li>
                <li (click)="toggleContent($event, 'group-second')">Why Tiny Changes Make a Big Difference</li>
                <li (click)="toggleContent($event, 'group-third')">Make It Obvious</li>
                <li (click)="toggleContent($event, 'group-fourth')">Make It Attractive</li>
                <li (click)="toggleContent($event, 'group-fifth')">Make It Easy</li>
                <li (click)="toggleContent($event, 'group-sixth')">Make It Satisfying</li>
                <li (click)="toggleContent($event, 'group-seventh')">How to Go from Being Merely Good to Being Truly
                    Great</li>
            </ul> -->
        </div>
    </div>
</div>